{% extends "base.html" %}
{% block title %} Url Downloader {% endblock title%}
{% block content %}

<div class="page-wrapper">
    <div class="page-body">
        <div class="container-xl">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Enter Url :</label>
                    {{form.local_path}}
                </div>
                <div class="card-footer bg-transparent mt-auto">
                    <div class="btn-list justify-content-end">
                        <button type="submit" class="btn btn-primary btn-pill" id="reset">Download</button>
                    </div>
                </div>
            </form>
            <hr>
            <h4>Downloaded files</h4>
            {%for file in allfiles%}
            <ul>
                <!--thumb https://drive.google.com/thumbnail?id={{file.fileid}}-->
                <li><a href="https://drive.google.com/uc?export=view&id={{file.fileid}}" target="_blank">{{file.filename|safe}}</a></li>
            </ul>
            {%endfor%}
        </div>
    </div>
</div>



{% endblock content %}