{% extends "base.html" %}
{% block title %} Chat {% endblock title %}
{% block content %}
<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Chat with {{userName}}
                </h2>
            </div>
        </div>
    </div>
</div>

<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        {%if pageobj %}
        <div class="col d-flex flex-column">
            <div class="card-body scrollable" style="height: 35rem">
                <div class="chat">
                    <div class="chat-bubbles">
                        {% for obj in pageobj %}
                        {% if obj.sender.username == user.username%}
                        <div class="chat-item">
                            <div class="row align-items-end justify-content-end">
                                <div class="col col-lg-6">
                                    <div class="chat-bubble chat-bubble-me">
                                        <div class="chat-bubble-title">
                                            <div class="row">
                                                <div class="col chat-bubble-author">{{obj.sender.username}}</div>
                                                <div class="col-auto chat-bubble-date">{{obj.created_at}}</div>
                                            </div>
                                        </div>
                                        <div class="chat-bubble-body">
                                            <p>{{obj.message}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto"><span class="avatar"
                                        style="background-image: url('{{ obj.sender.user_profile.thumbnail_url  }}')"></span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if obj.sender.username != user.username%}
                        <div class="chat-item">
                            <div class="row align-items-end">
                                <div class="col-auto"><span class="avatar"
                                        style="background-image: url('{{ obj.sender.user_profile.thumbnail_url  }}')"></span>
                                </div>
                                <div class="col col-lg-6">
                                    <div class="chat-bubble">
                                        <div class="chat-bubble-title">
                                            <div class="row">
                                                <div class="col chat-bubble-author">{{obj.sender.username}}</div>
                                                <div class="col-auto chat-bubble-date">{{obj.created_at}}</div>
                                            </div>
                                        </div>
                                        <div class="chat-bubble-body">
                                            <p>{{obj.message}}.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
        <br>
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-8 justify-content-end">
                <div class="row row-cards">
                    <div class="col-12">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{form.message}}
                            </div>
                            <div class="card-footer bg-transparent mt-auto">
                                <div class="btn-list justify-content-end">
                                    <button type="submit" class="btn btn-primary btn-pill" id="reset">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        scrollToBottom();
    });
    function scrollToBottom() {
        var container = $('.scrollable');
        container.scrollTop(container.prop("scrollHeight"));
    }
</script>
{% endblock content %}