{% extends "base.html" %}
{% block title %} Password Reset {% endblock title%}
{% block content %}
<div class="form-content my-3 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                {% if validlink %}
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center">
                        <h3 class="font-weight-light my-4 text-center">Reset Your Password</h3>
                    </div>
                    {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div class="d-flex">
                            <div>
                                <!-- Download SVG icon from http://tabler-icons.io/i/alert-circle -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M12 8v4" /><path d="M12 16h.01" /></svg>
                            </div>
                            <div>
                                {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                        </div>
                        <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
                    </div>
                    {% endif %}

                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <label class="small mb-1" for="id_new_password1">New Password</label>
                                        <input type="password" name="new_password1" autocomplete="new-password"
                                            class="form-control" required id="id_new_password1"
                                            placeholder="Enter password" />
                                        <span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <label class="small mb-1" for="id_new_password2">New Password
                                            Confirmation</label>
                                        <input type="password" name="new_password2" autocomplete="new-password" required
                                            id="id_new_password2" class="form-control" placeholder="Confirm password" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group mt-0 mb-1">
                                        <button type="submit" class="col-md-12 btn btn-dark" id="reset">Reset
                                            Password</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% else %}
                <div class="alert alert-warning">
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}