{% extends "base.html" %}
{% block title %} Profile {% endblock title %}
{% block content %}

<div class="page-body">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="profile-card">
                <div class="profile-card-header" style="background-image: url('{{ user.user_profile.cover_picture.url }}')">
                    <div class="profile-pic">
                        <img src='{{ user.user_profile.profile_picture.url }}' alt="">
                    </div>
                    <div class="profile-name">{{user.username}}</div>
                    <div class="profile-desc">{{user.first_name.title}} {{user.last_name}}</div>
                </div>
                <div class="profile-card-footer">
                    <h3>{{user.user_profile.headline}}</h3>
                    <p>{{user.user_profile.bio|linebreaks}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<p class="text-center"><a href="javascript:history.back()">Go Back</a></p>
{% endblock content %}