{% extends "base.html" %}
{% load static %}
{% block title %} Gallery {% endblock title%}
{% block content %}
{% include "includes/gallerycss.html"%}
<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <header class="page-header-gal">
                    <h1 class="page-title-gal text-uppercase">Image Album</h1>
                    <p class="header-child-gal text-center"><i>gallery</i></p>
                </header>
            </div>
            <!-- Page title actions -->
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <main class="main-content ">
            <div class="container-fluid photos">
                <div class="row align-items-stretch">
                    {% for image in images %}
                    <!-- Image -->
                    <div class="col-6 col-md-6 col-lg-3" data-aos="zoom-in">
                        <a href="/{{mediaPath}}/{{image}}" class="d-block photo-item" data-fancybox="gallery"
                            data-caption="{{img.caption}}">
                            <img loading="lazy" src="/{{mediaPath}}/thumb/{{image}}" alt="" title="" /><!-- thumb path -->
                            <div class="photo-text-more">
                                <span class="icon icon-search"><svg xmlns="http://www.w3.org/2000/svg" class="icon"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                                        <path d="M21 21l-6 -6" />
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                    <!-- --- -->
                    {% endfor %}
                    <div class="clear"></div>
                </div>
            </div>
        </main>
        <br>
    </div>
    <p class="text-center"><a href="javascript:history.back()">Go Back</a> | <a href="{%url 'main:home'%}">Home</a></p>
</div>
{% include "includes/galleryjs.html"%}
{% endblock content %}