{% extends "base.html" %}
{% load static %}
{% block title %} Notifications {% endblock title%}
{% block content %}

<div class="page-body">
    <div class="container-xl">
        <div class="row g-3">
            <div class="col">
                <ul class="timeline">
                    {% for obj in objects %}
                    <li class="timeline-event">
                        <div class="timeline-event-icon">
                            <!-- Download SVG icon from http://tabler-icons.io/i/settings -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notification"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M10 6h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                                <path d="M17 7m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                            </svg>
                        </div>
                        <div class="card timeline-event-card">
                            <div class="card-body">
                                <div class="text-secondary float-end">{{obj.last_updated_at}}</div>
                                <h4>{{obj.title}}</h4>
                                <p class="text-secondary">{{obj.description}}</a>.</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}