{% extends "base.html" %}
{% block title %} Home {% endblock title%}
{% block content %}

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Welcome, {{user.first_name.title}} !
                    </h2>
                    </br>
                    <!-- Page pre-title -->
                    <div class="page-pretitle">
                        Overview
                    </div>
                    <h2 class="page-title">
                        Dashboard
                    </h2>
                </div>
                <!-- Page title actions -->
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-12">
                    <div class="row row-cards">
                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="bg-primary text-white avatar">
                                                <svg width="229px" height="229px" viewBox="0 0 24.00 24.00" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke="#000000" stroke-width="0.192">
                                                    </g>
                                                    <g id="SVGRepo_iconCarrier">
                                                        <path opacity="0.1"
                                                            d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                                                            fill="#ffffff"></path>
                                                        <path
                                                            d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                                                            stroke="#ffffff" stroke-width="1.656"></path>
                                                        <path
                                                            d="M12 7L12 11.5L12 11.5196C12 11.8197 12.15 12.1 12.3998 12.2665V12.2665L15 14"
                                                            stroke="#ffffff" stroke-width="1.656" stroke-linecap="round"
                                                            stroke-linejoin="round"></path>
                                                    </g>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium" id="clock" onload="currentTime()">

                                            </div>
                                            <div class="text-muted">
                                                Current Time IST
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="bg-green text-white avatar">
                                                <svg width="215px" height="215px" viewBox="-5.4 0 98.4 98.4"
                                                    xmlns="http://www.w3.org/2000/svg" fill="#ffffff">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                        stroke-linejoin="round"></g>
                                                    <g id="SVGRepo_iconCarrier">
                                                        <g id="Group_4" data-name="Group 4"
                                                            transform="translate(-822.7 -241.5)">
                                                            <path id="Path_52" data-name="Path 52"
                                                                d="M899.4,254.3H833.6a8.92,8.92,0,0,0-8.9,8.9V329a8.92,8.92,0,0,0,8.9,8.9h65.8a8.92,8.92,0,0,0,8.9-8.9V263.2A8.92,8.92,0,0,0,899.4,254.3Z"
                                                                fill="none" stroke="#ffffff" stroke-linecap="round"
                                                                stroke-miterlimit="10" stroke-width="7.2816"></path>
                                                            <line id="Line_25" data-name="Line 25" x2="21.2"
                                                                transform="translate(842.6 283.7)" fill="none"
                                                                stroke="#ffffff" stroke-linecap="round"
                                                                stroke-miterlimit="10" stroke-width="7.2816"></line>
                                                            <line id="Line_26" data-name="Line 26" x2="45.9"
                                                                transform="translate(842.6 302)" fill="none"
                                                                stroke="#ffffff" stroke-linecap="round"
                                                                stroke-miterlimit="10" stroke-width="7.2816"></line>
                                                            <line id="Line_27" data-name="Line 27" y2="19.6"
                                                                transform="translate(853.6 243.5)" fill="none"
                                                                stroke="#ffffff" stroke-linecap="round"
                                                                stroke-miterlimit="10" stroke-width="7.2816"></line>
                                                            <line id="Line_28" data-name="Line 28" y2="19.6"
                                                                transform="translate(879.4 243.5)" fill="none"
                                                                stroke="#ffffff" stroke-linecap="round"
                                                                stroke-miterlimit="10" stroke-width="7.2816"></line>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium">
                                                {{ date }}
                                            </div>
                                            <div class="text-muted">
                                                Today's Day and Date
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="bg-twitter text-white avatar">
                                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                                    fill="#ffffff">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                        stroke-linejoin="round"></g>
                                                    <g id="SVGRepo_iconCarrier">
                                                        <g>
                                                            <path fill="none" d="M0 0H24V24H0z"></path>
                                                            <path
                                                                d="M12 1l8.217 1.826c.457.102.783.507.783.976v9.987c0 2.006-1.003 3.88-2.672 4.992L12 23l-6.328-4.219C4.002 17.668 3 15.795 3 13.79V3.802c0-.469.326-.874.783-.976L12 1zm0 2.049L5 4.604v9.185c0 1.337.668 2.586 1.781 3.328L12 20.597l5.219-3.48C18.332 16.375 19 15.127 19 13.79V4.604L12 3.05zm4.452 5.173l1.415 1.414L11.503 16 7.26 11.757l1.414-1.414 2.828 2.828 4.95-4.95z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium">
                                                {{user_ip}}
                                            </div>
                                            <div class="text-muted">
                                                Your IP
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="bg-facebook text-white avatar">
                                                <svg fill="#ffffff" height="200px" width="200px" version="1.1"
                                                    id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                    viewBox="0 0 485.017 485.017" xml:space="preserve"
                                                    transform="matrix(1, 0, 0, 1, 0, 0)rotate(0)" stroke="#ffffff"
                                                    stroke-width="2.425085">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke="#CCCCCC"
                                                        stroke-width="1.9400680000000001"></g>
                                                    <g id="SVGRepo_iconCarrier">
                                                        <g>
                                                            <path
                                                                d="M361.205,68.899c-14.663,0-28.447,5.71-38.816,16.078c-21.402,21.403-21.402,56.228,0,77.631 c10.368,10.368,24.153,16.078,38.815,16.078s28.447-5.71,38.816-16.078c21.402-21.403,21.402-56.228,0-77.631 C389.652,74.609,375.867,68.899,361.205,68.899z M378.807,141.394c-4.702,4.702-10.953,7.292-17.603,7.292 s-12.901-2.59-17.603-7.291c-9.706-9.706-9.706-25.499,0-35.205c4.702-4.702,10.953-7.291,17.603-7.291s12.9,2.589,17.603,7.291 C388.513,115.896,388.513,131.688,378.807,141.394z">
                                                            </path>
                                                            <path
                                                                d="M441.961,43.036C414.21,15.284,377.311,0,338.064,0c-39.248,0-76.146,15.284-103.897,43.036 c-42.226,42.226-54.491,105.179-32.065,159.698L0.254,404.584l-0.165,80.268l144.562,0.165v-55.722h55.705l0-55.705h55.705v-64.492 l26.212-26.212c17.615,7.203,36.698,10.976,55.799,10.976c39.244,0,76.14-15.282,103.889-43.032 C499.25,193.541,499.25,100.325,441.961,43.036z M420.748,229.617c-22.083,22.083-51.445,34.245-82.676,34.245 c-18.133,0-36.237-4.265-52.353-12.333l-9.672-4.842l-49.986,49.985v46.918h-55.705l0,55.705h-55.705v55.688l-84.5-0.096 l0.078-37.85L238.311,208.95l-4.842-9.672c-22.572-45.087-13.767-99.351,21.911-135.029C277.466,42.163,306.83,30,338.064,30 c31.234,0,60.598,12.163,82.684,34.249C466.34,109.841,466.34,184.025,420.748,229.617z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </span>

                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium">
                                                {{user.last_login}}
                                            </div>
                                            <div class="text-muted">
                                                Last login
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card" style="height: 28rem">
                        <div class="card-header">
                            <h3 class="card-title">Important Links</h3>
                        </div>
                        <div class="card-body card-body-scrollable card-body-scrollable-shadow">
                            <div class="divide-y">
                                {% for dt in data %}
                                <div>
                                    <div class="row">
                                        <div class="col-auto"><span class="badge bg-red"></span></div>
                                        <div class="col">
                                            <div class="text-truncate">
                                                <a href="{{dt.link}}" class="text-reset d-block">{{dt.heading}}</a>
                                            </div>
                                            <div class="text-muted">{{dt.description}}</div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="row row-cards">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Latest Updates</h3>
                                </div>
                                {% for dt in updates %}
                                <div class="list-group list-group-flush list-group-hoverable">
                                    <div class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-auto"><span class="badge bg-green"></span></div>
                                            <div class="col">
                                                <div class="d-block mt-n1">{{dt.update}}</div>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <div class="text-muted justify">{{dt.created_at}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/UiCustom/js/clock.js"></script>

{% endblock content %}