{% extends "base.html" %}
{% load static %}
{% block title %} Login {% endblock title%}
{% block content %}


<div class="content">
<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="shadow-lg border-0 ">

            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            
        </div>
    </div>
</div>


<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="." class="navbar-brand navbar-brand-autodark"><img src="{% static 'logo.png' %}" height="66"
                    alt=""></a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                <h5 class="h2 text-center">Lotus Hub</h4>
                <h4 class="h4 text-center">Login to your account</h2>
                <form action="" method="POST" autocomplete="off" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        {{form.username}}
                    </div>
                    <div class="mb-2">
                        <label class="form-label">
                            Password
                            <span class="form-label-description">
                                <a href="{% url 'password_reset' %}">I forgot password</a>
                            </span>
                        </label>
                        <div class="input-group input-group-flat">
                            {{form.password}}

                        </div>
                    </div>
                    </br>
                    <div class="mb-1">
                        <label class="form-check">
                            {{ form.remember_me }}
                            <span class="form-check-label">Remember me on this device</span>
                        </label>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">Sign in</button>
                    </div>
                </form>
            </div>
            <div class="hr-text">or</div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'social:begin' 'github' %}" class="btn w-100">
                                <!-- Download SVG icon from http://tabler-icons.io/i/brand-github -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>
                                Login with Github
                              </a>
                        </div>
                        <div class="col">
                            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn w-100">
                                <!-- Download SVG icon from http://tabler-icons.io/i/brand-google -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17.788 5.108a9 9 0 1 0 3.212 6.892h-8" /></svg>
                                Login with Google
                              </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center text-muted mt-3">
            Don't have account yet? <a href="{% url 'users-register' %}" tabindex="-1">Sign up</a>
        </div>
    </div>
</div>
</div>
<script>
    document.onreadystatechange = function() {
        if (document.readyState !== "complete") {
            document.querySelector(
            "body").style.visibility = "hidden";
            document.querySelector(
            "#loader").style.visibility = "visible";
        } else {
            document.querySelector(
            "#loader").style.display = "none";
            document.querySelector(
            "body").style.visibility = "visible";
        }
    };
</script>
{% endblock content %}