{% extends "base.html" %}
{% block title %} Gallery{% endblock title %}
{% block content %}
<link rel="stylesheet" href="/static/gallery/css/custom.css">


<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <header class="page-header-gal">
                        <h1 class="page-title-gal text-uppercase">Image Album</h1>
                        <p class="header-child-gal text-center"><i>gallery</i></p>
                    </header>
                </div>
                <!-- Page title actions -->
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">


            <main class="main-content ">
                <div class="container-fluid photos">
                    <div class="row align-items-stretch">
                        {% for image in images %}
                        <!-- Image -->
                        <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
                            <a href="/{{mediaPath}}/{{image}}" class="d-block photo-item" data-fancybox="gallery">
                                <img src="/{{mediaPath}}/thumb/{{image}}" alt="" title="" /><!-- thumb path -->
                            </a>
                        </div>
                        <!-- --- -->
                        {% endfor %}
                        <div class="clear"></div>
                    </div>
                </div>
            </main>
            <br>
            <hl>
            <p class="text-center"><a href="{%url 'users-home' %}">Back</a></p>
        </div>
    </div>
</div>

{% endblock content %}