{% load static %}
<script src="{% static 'gallery/js/aos.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script src="{% static 'gallery/js/main.js' %}"></script>
<script>
    Fancybox.bind('[data-fancybox="gallery"]', {
        compact: false,
        contentClick: "iterateZoom",
        Images: {
            Panzoom: {
                maxScale: 3,
            },
        },
        Toolbar: {
            display: {
                left: ["infobar",],
                middle: ["zoomIn", "zoomOut", "flipX"],
                right: ["iterateZoom", "slideshow", "fullscreen", "close"],
            }
        }
    });

    //datatable
    $(document).ready(function () {
        $('#bootstrapdatatable').DataTable({
            "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
            "iDisplayLength": 10
        }
        );
    });
</script>