.page-header-gal {
    font-family: 'Tangerine', serif;
    font-size: 25px;
    text-shadow: 4px 8px 8px #aaa;
    align-items: center;
}

.page-title-gal {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #8f8c62;
    isolation: isolate;
}

.header-child-gal {
    color: #61AEAE;
}